button:focus {
    outline: none;
}

.header-root, .header-root_1, .header-root_2 {
    color: unset !important;
    box-shadow: unset !important;
    background: unset !important;
    background-color: unset !important;
}

.header-root_button_icon > span:first-child {
    color: #795548;
    background: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 10px !important;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

.header-root_mile {
    top: 10px;
    right: 10px;
    padding: 2px;
    width: 100px;
    height: 27px;
    border-radius: 7px;
    color: #3f51b5;
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

.header-root_mile > span:first-child {
    float: left;
    height: 15px;
    padding-right: 5px;
}

.header-root_mile > span:last-child {
    float: right;
    padding-right: 5px;
    vertical-align: middle;
}

.footer-fab_add {
    background: #f73ca3 !important;
    width: 50px !important;
    height: 50px !important;
    color: #ffffff !important;
    border-radius: 20px !important;
}

.footer-fab_gps, .footer-fab_explore_open, .footer-fab_explore_close {
    background: #ffffff;
    width: 50px !important;
    height: 50px !important;
    color: #795548 !important;
    border-radius: 20px !important;
}

.footer-fab_explore_open {
    background: #ffffff;
    color: #795548 !important;
    border-radius: 20px !important;
}

.footer-fab_explore_close {
    color: #ffffff !important;
    border-radius: 20px !important;
    background: #e02929 !important;
}

.footer-add_form {
    left: 0;
    right: 0;
    bottom: 70px;
    width: 310px;
    height: 105px;
    padding: 13px;
    z-index: 1;
    margin: 0 auto;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

.footer-add_form > button {
    width: 140px;
    margin-bottom: 7px;
}

.footer-tracking_form {
    left: 0;
    right: 0;
    top: 100px;
    width: 350px;
    height: 315px;
    padding: 13px;
    z-index: 1;
    margin: 0 auto;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

.footer-button_library_add, .footer-button_library_books {
    background: #4caf50 !important;
}

.login-form {
    width: calc(100vw);
    width: -moz-calc(100vw);
    width: -webkit-calc(100vw);
    height: calc(100vh);
    height: -moz-calc(100vh);
    height: -webkit-calc(100vh);
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('http://10.0.1.5:3000/login.png');
}

.registry-form {
    width: calc(100vw);
    width: -moz-calc(100vw);
    width: -webkit-calc(100vw);
    height: calc(100vh);
    height: -moz-calc(100vh);
    height: -webkit-calc(100vh);
    max-width: 100%;
    max-height: 100%;
    background-color: #44beed;
}

.login-form_group {
    margin: 0 auto !important;
    padding: calc(100vw - 87vw) !important;
    padding-top: calc(65vh) !important;
}

.registry-form_group {
    margin: 0 auto !important;
    padding: calc(100vw - 84vw) !important;
}

.login-form_show, .registry-form_show {
    display: block;
    padding-top: 10px;
    text-align: center;
}

.login-form_hidden, .registry-form_hidden {
    display: none;
}

.login-form > div.alert, .registry-form > div.alert {
    margin-right: 25px;
    margin-left: 25px;
}

.people-add_div {
    margin-top: 20px;
    text-align: center;
}

.people-add_div > form > div {
    width: calc(100vw - 30vw);
}

.tracking-title, .tracking-content {
    width: 100% !important;
    margin-bottom: 10px !important;
}

.tracking-upload {
    text-align: left;
    margin-bottom: 10px !important;
}

.tracking-upload > button {
    width: 100%;
    background: #cddc39;
}

.tracking-upload_success > img {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 50px;
}

.tracking-view {
    /* margin: 0 auto;
    position: absolute;
    top: calc(100vh - 90vh);
    left: calc(100vw - 83vw); */
    margin: 0 auto;
    position: relative;
    top: calc(100vh - 175vh);
}

.tracking-view_content {
    height: 120px;
    overflow: auto;
}

.tracking-view_content > p {
    font-size: 0.7rem;
}

.chat-room-list_top {
    padding-top: 60px !important;
}

.chat-room-list_bottom {
    padding-bottom: 50px !important;
}

.chat-room_bubble_avatar {
    margin-bottom: auto;
    min-width: 35px !important;
}

.chat-room_bubble_avatar > div {
    width: 30px !important;
    height: 30px !important;
}

.chat-room_bubble_left {
    padding: 5px;
    width: auto;
    font-size: 10px;
    color: #4c4c4c;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    white-space: pre-line;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    border-top-left-radius: 0px;
}

.chat-room_bubble_right {
    padding: 5px;
    width: auto;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    white-space: pre-line;
    background: #ffde3f;
    border: 1px solid #ffde3f;
    border-bottom-right-radius: 0px;
}

.chat-room_emoji_left, .chat-room_emoji_right {
    width: auto;
}

.chat-room_emoji_left > img, .chat-room_emoji_right > img {
    width: 100px;
}

.chat-room_bubble_name_left {
    padding: 2px;
    font-size: 9px;
}

.chat-room_bubble_time_left {
    font-size: 9px;
    margin-top: auto;
    margin-bottom: 0;
    padding-left: 5px;
}

.chat-room_bubble_time_right {
    font-size: 9px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 0;
    padding-right: 5px;
}

.footer-chat_room > div > div > span {
    height: 0px;
}

.footer-chat_room {
    bottom: 0;
    width: 100%;
    height: 45px;
    z-index: 9999;
    max-width: 100%;
    position: fixed;
}

.footer-chat_room > form > div {
    padding-top: 0px;
    margin-left: 0 !important;
    background-color: unset !important;
}

.footer-chat_room > form > div > div {
    color: #ffffff;
    margin: unset !important;
    padding: 8px 7px 9px !important;
}

.footer-chat_room_fieldset {
    border: 0px;
}

.footer-chat_room_fieldset > fieldset {
    border: 0px;
}

.notfound-color_red {
    text-align: center;
    color: #c00000 !important;
}

.notfound-title_style {
    font-size: 22pt;
    font-weight: 700;
    font-family: Impact;
    text-decoration: underline;
}

.notfound-list_avatar {
    float: left;
    width: 55px !important;
    height: 55px !important;
    border-radius: 10px !important;
}

.notfound-avatar_content {
    line-height: 1.2;
    padding-left: 70px;
}

.notfound-avatar_content > p {
    font-size: 13px;
    color: #ffffff !important;
}